.section-movies {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  max-width: 100vw;
}

.section-movies__more-btn {
  width: 320px;
  height: 36px;
  margin: 82px auto 35px;
  background-color: transparent;
  border: 1px solid #E8E8E8;
  border-radius: 5px;
  color: #000;
  text-align: center;
  font-family: 'inter', Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;
  visibility: hidden;
}

.section-movies__more-btn_visible {
  visibility: visible;
}

.section-movies__more-btn:hover {
  opacity: 0.6;
}


@media screen and (max-width: 800px) {
  .section-movies {
    padding-top: 66px;
  }

  .section-movies__more-btn {
    margin: 80px auto 44px;
  }
}

@media screen and (max-width: 400px) {

  .section-movies {
    margin: 0;
  }

  .section-movies__more-btn {
    width: 240px;
  }
}