.header {
  display: flex;
  height: 74px;
  align-items: center;
  max-width: 100vw;
  margin-bottom: 20px;
}

.header__logo {
  background-image: url(../../images/logo.svg);
  width: 38px;
  height: 38px;
}

.header__logo-link{ 
  padding-left: 70px;
}

@media screen and (max-width: 900px) {
  .header__logo-link{ 
   padding-left: 30px;
  }
}