.about-project{
  display: flex;
  flex-direction: column;
  padding: 0 70px;
  max-width: 1140px;
  margin-top: 12px;
}

.about-project__facts {
  display: flex;
  flex-direction: column;
  column-gap: 40px;
  row-gap: 26px;
  max-height: 134px;
  flex-wrap: wrap;
}

.about-project__facts-title {
  margin: 0;
  max-width: 550px;
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.8px;
}

.about-project__facts-item {
  margin: 0;
  max-width: 550px;
  color: #000;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.about-project__schedule {
  margin-top: 108px;
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.about-project__schedule-title{
  margin: 0;
  background-color: #F2F2F2;
  text-align: center;
  color: #000;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 10px;
  margin-bottom: 14px;
}
.about-project__schedule-title:first-of-type{
  background-color: #2BE080;
}

.about-project__schedule-item{
  margin: 0;
  color: #A0A0A0;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 17px;
}

@media screen and (max-width: 900px) {
  .about-project {
    padding: 0 50px;
  }

  .about-project__facts {
    column-gap: 30px;
    row-gap: 22px;
  }
  
  .about-project__facts-title {
    max-width: 320px;
  }  
  
  .about-project__facts-item {
    color: #000;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    max-width: 320px;
  }

  .about-project__schedule {
    margin-top: 90px;
  }
}

@media screen and (max-width: 750px) {
  .about-project {
    padding: 0 18px;
  }

  .about-project__facts {
    flex-wrap: nowrap;
    max-height: 500px;
    margin: auto;
  }

  .about-project__facts-title {
  font-size: 18px;
  letter-spacing: -0.72px;
  }
  
  .about-project__facts-item {
  font-size: 11px;
  line-height: 16px;
  }

}

@media screen and (max-width: 500px) {
  .about-project {
    padding: 0 18px;
  }

  .about-project__schedule {
    margin-top: 60px;
    grid-template-columns: 54fr 100fr;
  }

  .about-project__schedule-item {
    font-size: 11px;
font-style: normal;
font-weight: 400;
line-height: normal;
  }

  .about-project__facts {
    row-gap: 18px;
  }

  .about-project__facts-title:last-of-type {
    margin-top: 38px;
  }

  .about-project__schedule-title {
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 10px;
  }
}