.about-project{
  display: flex;
  flex-direction: column;
  padding: 0 70px;
  max-width: 1140px;
  margin-top: 12px;
}

.about-project__facts {
  display: grid;
  /* grid-template-columns: auto auto; */
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 40px;
  grid-row-gap: 26px;
}

.about-project__facts-title {
  margin: 0;
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.8px;
}

.about-project__facts-item {
  margin: 0;
  color: #000;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.about-project__schedule {
  margin-top: 108px;
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.about-project__schedule-title{
  margin: 0;
  background-color: #F2F2F2;
  text-align: center;
  color: #000;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 10px;
  margin-bottom: 14px;
}
.about-project__schedule-title:first-of-type{
  background-color: #2BE080;
}

.about-project__schedule-item{
  margin: 0;
  color: #A0A0A0;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 17px;
}

@media screen and (max-width: 900px) {
  .about-project {
    padding: 0 50px;
  }

  .about-project__facts {
    grid-column-gap: 30px;
    grid-row-gap: 22px;
  }
  
  .about-project__facts-item {
    color: #000;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
  }

  .about-project__schedule {
    margin-top: 90px;
  }
}