.register {
  display: flex;
  flex-direction: column;
  max-width: 1140px;
  box-sizing: border-box;
  align-items: flex-start;
  margin: 0 auto;
}

.register__logo {
  margin-top: 70px;
  width: 38px;
  height: 38px;
}

.register__logo-link {
  margin: 0;
  padding: 0;
}

.register__title {
  margin: 40px 0;
  color: #000;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 0;
}

.register__input {
  width: 396px;
  border: none;
  outline: none;
  border-bottom: solid 1px #E8E8E8;
  margin: 0;
  padding: 0;
  padding-bottom: 9px;
  margin-bottom: 24px;
  color: #000;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.register__input:last-of-type {

}

.register__label {
  padding-bottom: 5px;
  color: #A0A0A0;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.register__label:last-of-type {
  margin-top: 24px;
}

.register__submitBtn { 
  margin: 125px auto 16px;
  width: 396px;
  height: 45px;
  background-color: #FF6838;
  border: none;
  color: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.register_register-span {
  display: flex;
  color: #A0A0A0;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: auto;
  column-gap: 5px;
}
.register__register-link {
  color: #FF6838;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}