.login {
  display: flex;
  flex-direction: column;
  max-width: 1140px;
  box-sizing: border-box;
  align-items: flex-start;
  margin: 0 auto;
}

.login__logo {
  margin-top: 70px;
  width: 38px;
  height: 38px;
}

.login__logo-link {
  margin: 0;
  padding: 0;
}

.login__logo-link:hover {
  opacity: 0.6;
}

.login__form {
  display: flex;
  flex-direction: column;
}

.login__title {
  padding: 0;
  margin: 38px 0;
  color: #000;
  font-family: 'inter', Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.login__input {
  margin: 0;
  padding: 0;
  width: 396px;
  border: none;
  outline: none;
  border-bottom: solid 1px #E8E8E8;
  padding-bottom: 10px;
  margin-bottom: 14px;
  color: #000;
  font-family: 'inter', Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.login__input:focus {
  border-bottom: 1px solid #FF6838;
}

.login__label {
  padding: 0;
  margin: 0;
  padding-bottom: 5px;
  color: #A0A0A0;
  font-family: 'inter', Arial, Helvetica, sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.login__label:last-of-type {
  margin-top: 12px;
}

.login__submitBtn {
  margin: 204px auto 16px;
  width: 396px;
  height: 45px;
  background-color: #FF6838;
  border: none;
  color: #FFF;
  text-align: center;
  font-family: 'inter', Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border-radius: 4px;
}

.login__submitBtn:disabled {
  opacity: 0.3;
}

.login__submitBtn:disabled:hover {
  opacity: 0.3;
  cursor:no-drop;
}

.login__submitBtn:hover {
  cursor: pointer;
  opacity: 0.6;
}

.login_register-span {
  display: flex;
  color: #A0A0A0;
  text-align: center;
  font-family: 'inter', Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: auto;
  column-gap: 5px;
}
.login__register-link {
  color: #FF6838;
  text-align: center;
  font-family: 'inter', Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}

.login__register-link:hover {
  opacity: 0.6;
}

.login__input-container {
  position: relative;
  display: flex;
  flex-direction: column;
}

.login__span-error {
  position: absolute;
  top: 56px;
  color: red;
  font-size: 11px;
}

@media screen and (max-width: 800px) {
  .login {
    margin-top: 160px;
  }

  .login__form {
    margin-bottom: 230px;
  }

  .login__submitBtn {
    margin-top: 210px;
  }
}

@media screen and (max-width: 500px) {
  .login {
    align-items: center;
    margin-top: 56px;
  }

  .login__form {
    margin-bottom: 30px;
  }

  .login__title {
    align-self: center;
    margin-top: 48px;
    margin-bottom: 80px;
  }

  .login__logo {
    margin: 0;
  }

  .login__label {
  }

  .login__input {
    width: 396px;
    width: 260px;
  }

  .login_register-span {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .login__submitBtn {
    margin-top: 290px;
    width: 260px;
    height: 45px;
  }

  .login__register-link {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}