@import url(../src/vendor/normalize.css);
@import url(../src/vendor/fonts/fonts.css);
@import url(../src/components/App/App.css);
@import url(../src//components/SectionTitle/SectionTitle.css);
@import url(../src/components/Header/header.css);
@import url(../src/components/Promo/Promo.css);
@import url(../src/components/NavTab/NavTab.css);
@import url(../src/components/AboutProject/AbouteProject.css);
@import url(../src/components/Techs/Techs.css);
@import url(../src/components/AboutMe/AboutMe.css);
@import url(../src/components/Portfolio/Protfolio.css);
@import url(../src/components/Footer/Footer.css);
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
