.about-me {
  display: flex;
  flex-direction: column;
  max-width: 1140px;
  margin-top: 10px;
  padding-bottom: 55px;
  padding: 0 70px;
}

.student-card {
  display: flex;
  justify-content: space-between;
}

.student-card__text-container {
  max-width: 600px;
}

.student-card__text-title {
  margin: 0;
  color: #000;
  font-family: Inter;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: -2px;
}

.student-card__text-subtitle {
  margin-top: 16px;
  color: #000;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  
}

.student-card__text-paragraph {
  color: #000;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  margin-bottom: 100px;
}

.student-card__link {
  color: #000;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.student-card__image {
border-radius: 10px;
}

@media screen and (max-width: 900px) {
  .about-me {
    padding: 0 50px;
  }

  .student-card__text-title {
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: -1.6px;
  }

  .student-card__text-subtitle {
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
  }

  .student-card {
    margin-top: -5px;
  }

  .student-card__text-paragraph {
    color: #000;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  max-width: 364px;
  padding-right: 5px;
  margin-bottom: 90px;
  }

  .student-card__image {
    width: 255px;
    height: 307px;
  }
}